.topnav {
  background-color:lightgray;
  overflow: hidden; /*content will be invisible*/
}

.topnav a {
  float: right;
  background-color:lightgray;
  color: black;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 23px;
}
a:hover{
  border: ridge azure ;
}
body{
  background-color: rgb(211, 176, 211);
} 
.para1{
  padding: 40px;
  margin: 50px;
  width: 1000px;
  align-items: justify;
  line-height: 250%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
}
.images{
  height: 10%;
  margin-left: 20%;
}