.topnav {
    background-color:lightgray;
    overflow: hidden; /*content will be invisible*/
}
.topnav a {
    float: right;
    background-color:lightgray;
    color: black;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 23px;
}
a:hover{
    border: ridge azure ;
  }
.images{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(211, 176, 211);

}
  