.topnav a {
  float: right;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  color: #4d545e;
}
a:hover{
  border: ridge #4d545e;
}
body{
  font-family: 'Times New Roman', Times, serif;
  background-color:#eceef1;
}  
.para{
  font-size: 23px;
  line-height: 250%;
}
h3{
  color: #4d545e;
  font-size: 30px;
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
}
