.topnav {
  background-color:lightgray;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 23px;
}
a:hover{
  border: ridge azure ;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/205321/pexels-photo-205321.png?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
#text{ 
  color: black;
  font-size: 145px;
  position: absolute; /*positions my text relative to its closest positioned ancestor*/
  text-align: center;
  font-style: italic;
  font-family: cursive;
}
