.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Courier New', Courier, monospace;
}
a:hover{
  border: ridge whitesmoke ;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#4d545e;
}
#text{ 
  color: whitesmoke;
  font-size: 43px;
  position: absolute; 
  font-style: italic;
  font-family: cursive;
  margin-top: 170px;
  margin-left: 270px;
  font-family: 'Courier New', Courier, monospace;
}
h2{
  margin-top: 300px;
  margin-left: 500px;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}
h3{
  color: whitesmoke;
  font-size: 30px;
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
}
